[user]
	email = stevenpilger@fastmail.com
	name = Steven Pilger
[core]
	excludesfile = {{ .chezmoi.homedir }}/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = {{ .chezmoi.homedir }}/.stCommitMsg
[credential]
	helper = osxkeychain
